/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url(https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap); 


    :root {
        --accent: #F3FCF4;
        --accentHover: #C2F2C7; 
        --wanda: #FFC8E9; 
        --wandaHover: #FF88CF; 
        --transition: all 0.3s ease 0s; 
    }
    * { 
        -webkit-box-sizing: boarder-box; 
                box-sizing: boarder-box;
        margin: 0; 
        padding: 0;
    }

    html, body{

        height: 100%;
        overflow: auto;
    }

    p, a { 
        font-family: 'Lato';
        color: var(--wanda);
        text-decoration: none;
    }

    a { 
        cursor: pointer;
    }

    main { 
        height: 100%; 
        display: -ms-grid; 
        display: grid; 
        -ms-grid-columns: minmax(60px, 1fr) repeat(6, minmax(50px, 290px)) minmax(60px, 1fr);
        grid-template-columns: minmax(60px, 1fr) repeat(6, minmax(50px, 290px)) minmax(60px, 1fr);
    }

    header {
        -ms-grid-column: 2;
        -ms-grid-column-span: 6;
        grid-column: 2/ span 6
    }

    nav { 
        display: -webkit-box; 
        display: -ms-flexbox; 
        display: flex; 
        -webkit-box-align: center; 
            -ms-flex-align: center; 
                align-items: center;
        height: 120px;

    }

    .links {
        margin-left: auto;
    }

    .links { 
        font-size: 1.0625rem;
        font-weight: 400;
        -webkit-transition: var(--transition);
        -o-transition: var(--transition);
        transition: var(--transition); 

    }

    .links a {
        margin-right: 50px;
     }

     .links a:hover {
         color: var(--wandaHover);

     }

     
    
     

     .info {
         -ms-grid-column: 2;
         -ms-grid-column-span: 4;
         grid-column: 2/ span 4;

     }
     
 

     .hero_font { 
         color: var(--wanda);
         font-family: 'Lato', Helvetica; 
         font-weight: 700;
         font-size: 4.375rem;
    
     }

     .icons { 
         display : -webkit-box; 
         display : -ms-flexbox; 
         display : flex; 
         margin-top: 20px; 
         padding: 10px 20px 0 0 ;

     }

     .icon { 
         display: -webkit-box; 
         display: -ms-flexbox; 
         display: flex;
         -webkit-box-align: center;
             -ms-flex-align: center;
                 align-items: center;
     }

     .features{ 
         -ms-grid-column: 2; 
         -ms-grid-column-span: 7; 
         grid-column: 2/ span 7;
         background-color: var(--accent);
         align-self: end;
         padding: 40px 0 0 60px; 
         display : -webkit-box; 
         display : -ms-flexbox; 
         display : flex; 
         -ms-flex-wrap: wrap; 
             flex-wrap: wrap;
         -webkit-box-align: center;
             -ms-flex-align: center;
                 align-items: center; 
     }

     .feature { 
         display: -webkit-box; 
         display: -ms-flexbox; 
         display: flex;
         margin: 0 60px 40px 0px;
     }


     .feature img {
         height: 200px;
         margin-right: 20px;

     }

     .feature_info { 
        margin-top: 10px;
     }

     .feature_top {
        font-family: 'Lato';
         font-size: 0.9125rem; 
         font-weight: 900; 
         text-transform: uppercase;
         margin-bottom: 20px;
     } 
    

     .feature__bottom { 
         width: 180px;
         font-size: 1rem; 
         font-weight: 400;

     }
  
     @media only screen and (max-width: 1100px) {
    .icon img { 
        height: 55px; 
        width: auto;
    }

    .icon__top { 
        font-size: 1rem; 
    }

    .icon__bottom { 
        font-size: 1.125rem;
    }

    .hero__font {
        font-size: 2.1875rem;
    }

    .features {
        grid-column: 1 / span 8;
    }
    

}

@media only screen and (max-width: 650px) { 
    .info { 
        grid-column: 2 / span 6;

    }
    .icons {
        grid-column: 2/ span 6;

    }
    .icon {
        margin-bottom: 20px;
    }
}

    

    


    

